.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

img {
  width: 200px;
}

.title_challenge {
  color: blue;
}

.title_criado {
  color: rgb(13, 14, 14);
  font-size: 1.rem;
}

input {
  margin-right: 1rem;
}

.box_soma,
.box_img,
.box_condicional,
.box_IfTernario,
.box_children,
.box_message,
.box_css {
  padding: 1rem 4rem;
  background: aliceblue;
  width: 33%;
  margin-bottom: 2rem;


}

.box_NumeroNaTela,
.box_useState,
.box_ListeRender,
.box_props,
.box_destructuring,
.box_executarFunca,
.box_desafio {
  padding: 1rem 4rem;
  width: 33%;
  margin-bottom: 2rem;

}

.box_executarFunca button {
  margin-top: 2rem;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #008CBA;
}

.whapper_someDate {
  padding-bottom: 2REM;
}

.input_soma {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;

}

.input_soma input {
  margin-bottom: 0.6rem;

}

.menor {
  color: red;
}

.maior {
  color: #008CBA;
}
.box_css h2{
  color: red;
}
.paragrafo_global{
  color: green;
  background-color: black;
}