.App {
  text-align: center;

}

img {
  width: 200px;
}

.title_challenge {
  color: blue;
}

.title_criado {
  color: rgb(13, 14, 14);
  font-size: 1.rem;
}

input {
  margin-right: 1rem;
}

.box_soma,
.useState,
.box_condicional,
.box_props {
  padding: 1rem 4rem;
  background: aliceblue;


}

.box_NumeroNaTela,
.useState,
.box_img,
.box_ListeRender {
  padding: 1rem 4rem;


}

.title_box_soma {
  padding-bottom: 2rem;
}

.whapper_someDate {
  padding-bottom: 2REM;
}